#####################################################################
# 	Macros
#####################################################################

[gcode_macro _KEEP_FLAGS]
variable_keep_active: 0
gcode:
    RESPOND PREFIX="KEEP" MSG="État actuel = {printer['gcode_macro _KEEP_FLAGS'].keep_active}"

[gcode_macro KEEP_ACTIVE]
gcode:
    SET_GCODE_VARIABLE MACRO=_KEEP_FLAGS VARIABLE=keep_active VALUE=1
    RESPOND PREFIX="KEEP" MSG="Maintien activé (Chambre, Bed et Hotend)"

[gcode_macro RESET_KEEP_FLAGS]
gcode:
    SET_GCODE_VARIABLE MACRO=_KEEP_FLAGS VARIABLE=keep_active VALUE=0
    RESPOND PREFIX="KEEP" MSG="Maintien désactivé, retour aux consignes normales"
#--------------------------------------------------------------------

#####################################################################
# 	Macros
#####################################################################

[gcode_macro _TEST_BELTS]
gcode:
  {% if 'x' not in printer.toolhead.homed_axes %}
  {% if 'y' not in printer.toolhead.homed_axes %}
  G28 X Y 
  {% endif %}
  {% endif %}
 
  {% set circles = params.S|default(1)|int %}
  {% set rate = params.F|default(18000)|int %}
  {% for i in range(circles) %}
      G1 X{printer.toolhead.axis_minimum.x + 15} Y{printer.toolhead.axis_minimum.y + 15}  F{rate}
      G1 X{printer.toolhead.axis_maximum.x - 15} Y{printer.toolhead.axis_minimum.y + 15}  F{rate}
      G1 X{printer.toolhead.axis_maximum.x - 15} Y{printer.toolhead.axis_maximum.y - 15} F{rate}
      G1 X{printer.toolhead.axis_minimum.x + 15} Y{printer.toolhead.axis_maximum.y - 15}  F{rate}
      G1 X{printer.toolhead.axis_minimum.x + 15} Y{printer.toolhead.axis_minimum.y + 15}  F{rate}
    {% endfor %}
    G1 X{ printer.toolhead.axis_maximum.x / 2  } Y{printer.toolhead.axis_maximum.y  /2}  F{rate}
    #--------------------------------------------------------------------

#####################################################################
# 	Macros
#####################################################################

[axiscope]
pin: !PG15                # Endstop pin
zswitch_x_pos: 226.71     # REQUIRED - X position of the endstop switch
zswitch_y_pos: -18.46     # REQUIRED - Y position of the endstop switch
zswitch_z_pos: 7.8        # REQUIRED - Z position + some clearance of the endstop switch
lift_z: 1                 # OPTIONAL - Amount to lift Z before moving (default: 1)
move_speed: 60            # OPTIONAL - XY movement speed in mm/s (default: 60)
z_move_speed: 10          # OPTIONAL - Z movement speed in mm/s (default: 10)
start_gcode: 
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S150
  {% endfor %}
before_pickup_gcode: M118 pickup_gcode
after_pickup_gcode: M118 after_pickup_gcode
                    # NOZZLE_SCRUBBER_W
finish_gcode: M118 Calibration complete
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S0
  {% endfor %}
  T0
  #--------------------------------------------------------------------
