#####################################################################
# 	Fonction
#####################################################################

[pause_resume]

[gcode_arcs]
resolution: 0.1

[exclude_object]

[force_move]
enable_force_move: True

[auto_speed]

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results

[skew_correction]
#--------------------------------------------------------------------

#####################################################################
# 	Mcu Configuration
#####################################################################

[mcu]
canbus_uuid: ed2ca7e4bd3c
#--------------------------------------------------------------------

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host
#--------------------------------------------------------------------


#####################################################################
# 	Bed Heater
#####################################################################

[thermistor custom_bed]
temperature1: 50
resistance1: 33673
temperature2: 90
resistance2: 6540
temperature3: 120
resistance3: 2650
#--------------------------------------------------------------------

[heater_bed]
heater_pin: PA1
sensor_type: custom_bed
pullup_resistor: 4700
sensor_pin: PB1
max_power: 1
min_temp: 0
max_temp: 115
#--------------------------------------------------------------------


#####################################################################
# 	Light
#####################################################################

[output_pin caselight]
#Chamber Lighting - HE2 Connector (Optional)
pin: PA3
pwm:true
shutdown_value: 0
value: 0.02
cycle_time: 0.01
#--------------------------------------------------------------------

#####################################################################
# 	Bed MESH
#####################################################################

[bed_mesh]
speed:400
horizontal_move_z: 1
mesh_min: 10, 10
mesh_max: 340, 340
zero_reference_position: 175, 175
probe_count: 11,11
algorithm: bicubic
mesh_pps: 3,3


#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
#--------------------------------------------------------------------


[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	15,15
	15,335
	335,335
	335,15
speed: 400
horizontal_move_z: 16
retries: 5
retry_tolerance: 0.010
max_adjust: 13
#--------------------------------------------------------------------

#####################################################################
# 	Sandt
#####################################################################

[resonance_tester]
probe_points: 175, 100, 50
accel_chip: adxl345
accel_per_hz: 150
sweeping_accel: 400
sweeping_period: 0
#--------------------------------------------------------------------


[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5
#--------------------------------------------------------------------


#####################################################################
# 	Includes
#####################################################################

[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include mainsail.cfg]
[include CFG/Macro.cfg]
[include CFG/Stepper.cfg]
[include CFG/Fan.cfg]
[include CFG/Start.cfg]
[include CFG/toolchanger-extra-macros.cfg]


#--------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.159
#*# pid_ki = 2.521
#*# pid_kd = 395.536
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.085000, -0.017500, -0.021250, -0.003750, -0.028750, -0.060000, -0.062500, -0.055000, -0.032500, -0.018750, -0.023750
#*# 	0.026250, 0.022500, 0.056250, 0.053750, 0.058750, 0.030000, 0.008750, 0.031250, 0.035000, 0.070000, 0.061250
#*# 	0.070000, 0.072500, 0.093750, 0.100000, 0.088750, 0.058750, 0.026250, 0.052500, 0.048750, 0.100000, 0.075000
#*# 	0.035000, 0.052500, 0.057500, 0.068750, 0.055000, 0.046250, 0.030000, 0.036250, 0.050000, 0.081250, 0.101250
#*# 	0.065000, 0.080000, 0.071250, 0.076250, 0.052500, 0.006250, -0.005000, 0.008750, 0.037500, 0.058750, 0.091250
#*# 	0.041250, 0.052500, 0.051250, 0.053750, 0.021250, 0.000000, 0.005000, -0.008750, 0.043750, 0.057500, 0.090000
#*# 	0.011250, 0.016250, 0.015000, 0.002500, -0.002500, -0.033750, -0.060000, -0.050000, -0.056250, -0.020000, -0.013750
#*# 	-0.033750, -0.023750, -0.015000, -0.020000, -0.022500, -0.070000, -0.081250, -0.050000, -0.032500, -0.008750, -0.028750
#*# 	-0.026250, -0.043750, -0.030000, -0.030000, -0.026250, -0.073750, -0.078750, -0.065000, -0.073750, -0.032500, -0.046250
#*# 	-0.050000, -0.056250, -0.047500, -0.055000, -0.031250, -0.048750, -0.066250, -0.061250, -0.046250, -0.002500, -0.036250
#*# 	-0.047500, -0.025000, -0.021250, -0.033750, -0.030000, -0.036250, -0.036250, -0.035000, -0.033750, -0.026250, -0.032500
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 340.0
#*# min_y = 10.0
#*# max_y = 340.0
#*#
#*# [skew_correction Calilantern]
#*# xy_skew = 0.000697914508797952
#*# xz_skew = -0.001257575837627676
#*# yz_skew = -0.0007001410649911145
